<div id="container-footer">
    <section class="logo">
      <picture>
        <a href="/index.html">
          <picture>
            <img src="../images/logo.png" alt="Logo Image" />
        </picture>
      </a>
    </section>
    <section class="links">
      <a href="https://www.instagram.com/" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.youtube.com/" target="_blank"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      <a href="https://goo.gl/maps/qRQwm97cGiBd5Mr89" target="_blank"
        ><i class="fa-sharp fa-solid fa-map-location-dot"></i
      ></a>
    </section>
    <section class="address">
      <address>
        34 W 46th St<br />
        New York, NY 10036, United States
      </address>
      </section>
      <section class="contact">
      <p><i class="fa-solid fa-envelope"></i> contact@donnafoodsny.com</p>
      <p><i class="fa-solid fa-phone"></i> Phone: +1 760-442-000</p>
    </section>
  </div>
  <hr />
  <div class="baseboard">
    <p>&copy; 2023 Donna Foods (NOT a real business)</p>
    <p><b>- Livia Macêdo Pimentel - </b></p>
    <p>WDD330</p>
</div>