<div class="logo">
  <picture>
    <a href="/index.html">
      <picture>
        <img src="../images/logo.png" alt="Logo Image" />
      </picture>
    </a>
  </picture>
</div>
<nav>
  <button id="hamburgerBtn"><span>&#9776;</span><span>X</span></button>
  <ul id="bar_nav">
    <li>
      <a href="/index.html">Home</a>
    </li>
    <li>
      <a href="product-listing/index.html?category=menu">Menu</a>
    </li>
    <li>
      <a href="/reservation/index.html">Reservation</a>
    </li>
  </ul>
</nav>

<div class="container-user-cart">
  <a href="/admin/index.html">
    <i class="fa-solid fa-user"></i>
  </a>
  <a href="/cart/index.html">
    <i class="fa-solid fa-cart-shopping"></i>
    <span id="cart-count"></span>
  </a>
</div>
